redirects: on
source https://www.nuget.org/api/v2/

nuget FSharp.Core 
nuget Unquote 
nuget WindowsAzure.Storage 
nuget xunit 
nuget xunit.extensions
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true
nuget FsUnit.xUnit
nuget Nuget.CommandLine
nuget FAKE
github fsharp/FAKE modules/Octokit/Octokit.fsx